body {
    font-family: TikTokFont, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    justify-content: center;
    text-align: center;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 100vh;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    background: #fe2c55;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    position: fixed;
    top: 0;
    margin-top: -2px;
    margin-left: -24px;
    z-index: 1000;
}

.header p {
    font-size: 11px;
    color: white;
    font-weight: bold;
}

.content {
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 40px; /* Ajustar para o cabeçalho fixo */
}

.content img {
    width: 200px;
}

.content h1 {
    color: #fe2c55;
    font-weight: 800;
}

.content p {
    margin: 10px 0;
    font-size: 20px;
}

.content .amount {
    font-size: 14px;
    color: #fc224d;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fc224d;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-left: -10px;
    margin-top: 30px;
    width: 100%; /* Garantir que o botão ocupe toda a largura */
}


.attention {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
}
.attention details {
    margin-top: 30px;
}

.attention h2 {
    color: #fc224d;
}

.attention p {
    margin-top: 05px;
    color: #333333d0;
}

.footer {
    text-align: center;
    margin: 20px 0;
}

.footer img {
    width: 200px;
}
